{% extends 'base.html' %}

{% block content %}
    
    <div class="card" style="width: 20rem; padding: 20px; box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); ">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
      {% endfor %}
        <form action="/signup" method="POST">
            <h1 class="text-center">{% block title %} Sign Up {% endblock %}</h1>

            <div class="mb-3 ">
              <label for="Username" class="form-label">Username</label>
              <input type="text" name="username" placeholder="Username"class="form-control w-100 p-3" id="Username" aria-describedby="usernameHelp">
            </div>
            <div class="mb-3 ">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" placeholder="Email"class="form-control w-100 p-3" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" placeholder="Password"  class="form-control w-100 p-3" id="password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary w-100 p-3">Register</button>
        </form>
    </div>
    <div>
      <img src="../static/images/3.png" width="500px" alt="Url Snipper picture">
    </div>

{% endblock %}